.container {
  background-color: whitesmoke;
}

.logoContainer {
  margin-left: 25px;
  width: 8rem;
  height: 5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer img {
  object-fit: cover;
}

.content {
  max-width: 1024px;
  margin: 15px auto;
  padding: 5px 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.header {
  background-color: #FFE41A;
  display: flex;
}

.header h2 {
  color: #fff;
  text-shadow: 1px 1px 10px black;
  margin-left: 5rem;
  opacity: .7;
}

.card {
  border: 3px solid #0A5FD7;
  border-radius: 30px;
  background-color: #fff;
}

.offset {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  font-weight: 500;
  letter-spacing: .05rem;
  margin: 0.5em;
  padding: 1em 2em;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0.3em 0.3em 0 0 #0A5FD7,
    inset 0.3em 0.3em 0 0 #FFE41A;
}

.offset:hover {
  border-color: #0A5FD7;
  color: #FFE41A;
  box-shadow:
    0 0 0 0 #FFE41A,
    inset 6em 3.5em 0 0 #0A5FD7;
}


.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  padding: .5rem 2rem;

  border-radius: 15px;
}